In [76]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import scipy.stats as si
import yfinance as yf
import os

Implied volatility

In [77]:
TSLA = yf.download("TSLA", start="2021-12-01", end="2022-12-01")

[*********************100%***********************]  1 of 1 completed

In [80]:
data = yf.download("TSLA", start="2021-12-01", end="2022-12-01")

[*********************100%***********************]  1 of 1 completed

In [81]:
S = TSLA['Adj Close'][-1]
print('The spot price is $', round(S,2), '.')

The spot price is $ 1031.56 .

In [82]:
log_return = np.log(data['Adj Close'] / data['Adj Close'].shift(1))

In [83]:
vol = np.sqrt(252) * log_return.std()
print('The annualised volatility (one year sample size)is', round(vol*100,2), '%')

The annualised volatility (one year sample size)is 71.4 %

In [84]:
log_return1 = np.log(data['Adj Close'][1:125] / data['Adj Close'][1:125].shift(1))

In [85]:
vol1 = np.sqrt(252) * log_return1.std()
print('The annualised volatility (1st six months) is', round(vol1*100,2), '%')

The annualised volatility (1st six months) is 72.63 %

In [86]:
# Implied volaitilty for europe option

In [45]:
def newton_vol_call(S, K, T, C, r):
    
    #S: spot price
    #K: strike price
    #T: time to maturity
    #C: Call value
    #r: risk free rate
    #sigma: volatility of underlying asset
   
    MAX_ITERATIONS = 1000
    tolerance = 0.000001
    
    sigma = 0.63
    
    for i in range(0, MAX_ITERATIONS):
        d1 = (np.log(S / K) + (r + 0.5 * sigma ** 2) * T) / (sigma * np.sqrt(T))
        d2 = (np.log(S / K) + (r - 0.5 * sigma ** 2) * T) / (sigma * np.sqrt(T))
        price = S * si.norm.cdf(d1, 0.0, 1.0) - K * np.exp(-r * T) * si.norm.cdf(d2, 0.0, 1.0)
        vega = S * np.sqrt(T) * si.norm.pdf(d1, 0.0, 1.0)

        diff = C - price

        if (abs(diff) < tolerance):
            return sigma
        else: 
            sigma = sigma + diff/vega
        
        # print(i,sigma,diff)
        
    return sigma

In [46]:
TESLA = yf.Ticker("TSLA")
opt = TESLA.option_chain('2022-01-14')
opt.calls

,contractSymbol,lastTradeDate,strike,lastPrice,bid,ask,change,percentChange,volume,openInterest,impliedVolatility,inTheMoney,contractSize,currency
0,TSLA220114C00200000,2022-01-13 16:03:04,200.0,872.22,835.25,837.40,14.429993,1.682229,2.0,10,13.036623,True,REGULAR,USD
1,TSLA220114C00300000,2021-12-28 15:31:10,300.0,791.65,735.00,738.15,0.000000,0.000000,NaN,1,9.961918,True,REGULAR,USD
2,TSLA220114C00400000,2022-01-07 15:30:46,400.0,649.95,635.25,638.40,0.000000,0.000000,2.0,4,7.847656,True,REGULAR,USD
3,TSLA220114C00410000,2022-01-06 15:31:22,410.0,641.30,618.30,626.95,0.000000,0.000000,NaN,1,6.633302,True,REGULAR,USD
4,TSLA220114C00430000,2022-01-03 18:45:49,430.0,749.90,604.25,606.95,0.000000,0.000000,NaN,2,7.057130,True,REGULAR,USD
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
183,TSLA220114C02200000,2022-01-11 18:29:40,2200.0,0.01,0.00,0.01,0.000000,0.000000,57.0,922,2.687503,False,REGULAR,USD
184,TSLA220114C02250000,2022-01-10 19:23:39,2250.0,0.01,0.00,0.01,0.000000,0.000000,57.0,258,2.750003,False,REGULAR,USD
185,TSLA220114C02300000,2022-01-11 18:54:26,2300.0,0.01,0.00,0.01,0.000000,0.000000,1.0,62,2.812503,False,REGULAR,USD
186,TSLA220114C02350000,2022-01-10 14:31:14,2350.0,0.01,0.00,0.01,0.000000,0.000000,2.0,15,2.937503,False,REGULAR,USD
187,TSLA220114C02400000,2022-01-13 20:03:28,2400.0,0.01,0.00,0.01,0.000000,0.000000,10.0,750,3.000002,False,REGULAR,USD

In [51]:
impvol = newton_vol_call(S, 800.00, 1/42, float(opt.calls.lastPrice[opt.calls.strike == 800.00]), 0.01)
print('The implied volatility is', round(impvol*100,2) , '% for the one-month call with strike $ 800.00' )

The implied volatility is 180.17 % for the one-month call with strike $ 800.00

#Binomial Tree

In [36]:
import numpy as np
import os

In [61]:
S0 = 40.0              # spot stock price
K = 40.0               # strike
T = 0.5                # maturity 
r = 0.1                 # risk free rate 
sig = 0.1               # diffusion coefficient or volatility
N = 2                  # number of periods or number of time steps  
payoff = "call"          # payoff

In [62]:
dT = float(T) / N                             # Delta t
u = np.exp(sig * np.sqrt(dT))                 # up factor
d = 1.0 / u

In [63]:
S = np.zeros((N + 1, N + 1))
S[0, 0] = S0
z = 1
for t in range(1, N + 1):
    for i in range(z):
        S[i, t] = S[i, t-1] * u
        S[i+1, t] = S[i, t-1] * d
    z += 1

In [64]:
S

array([[40.        , 42.05084386, 44.20683672],
       [ 0.        , 38.04917698, 40.        ],
       [ 0.        ,  0.        , 36.19349672]])

In [65]:
a = np.exp(r * dT)    # risk free compound return
p = (a - d)/ (u - d)  # risk neutral up probability
q = 1.0 - p           # risk neutral down probability
p

0.7405483598480218

In [66]:
S_T = S[:,-1]
V = np.zeros((N + 1, N + 1))
if payoff =="call":
    V[:,-1] = np.maximum(S_T-K, 0.0)
elif payoff =="put":
    V[:,-1] = np.maximum(K-S_T, 0.0)
V

array([[0.        , 0.        , 4.20683672],
       [0.        , 0.        , 0.        ],
       [0.        , 0.        , 0.        ]])

In [67]:
# for European Option
for j in range(N-1, -1, -1):
    for i in range(j+1):
        V[i,j] = np.exp(-r*dT) * (p * V[i,j + 1] + q * V[i + 1,j + 1])
V

array([[2.19456163, 3.03844737, 4.20683672],
       [0.        , 0.        , 0.        ],
       [0.        , 0.        , 0.        ]])

In [68]:
print('European ' + payoff, str( V[0,0]))

European call 2.19456162714245

In [69]:
import numpy as np
a = np.array([0, 0.5, 1.0, 1.5, 2.0])
a

array([0. , 0.5, 1. , 1.5, 2. ])

In [87]:
#Pandas

In [71]:
import pandas as pd
df = pd.DataFrame([20, 40, 17, 32],
                  columns=['numbers'],
                  index=['a', 'b', 'c', 'd'])
df

   numbers
a       20
b       40
c       17
d       32